DATABASE_HOST = ''
DATABASE_USER = ''
DATABASE_PASSWORD = ''

SES_ACCESS_KEY_ID = ''
SES_SECRET_ACCESS_KEY = ''

DJANGO_SECRET_KEY = ''

YAFOTKI_ACCOUNT_NAME = 'gladerru'
YAFOTKI_ACCOUNT_PASSWORD = '71454026255291315798'

SSH_USER = ''