{% extends "base.html" %}
{% load russian %}

{% block content %}
    <h1>Танцы</h1>

	<table class="b-roles" cellspacing="0">
        <tr class="b-roles_header">
            <th>Название</th>
            <th>Схема</th>
            <th>Музыка</th>
            <th>Видео</th>
        </tr>

        {% for dance in object_list %}
            <tr class="{% cycle 'odd' 'even' %}{% if role.first %} role_separator{% endif %}">
                <td>{{ dance.title }}</td>
                <td>{% if dance.scheme %}<a href="{{ dance.scheme }}">схема</a>{% endif %}</td>
				<td>{% if dance.music %}<a href="{{ dance.music }}">музыка</a>{% endif %}</td>
				<td>{% if dance.video %}<a href="{{ dance.video }}">видео</a>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}