{% extends "base.html" %}
{% load content %}
{% load russian %}

{% block content %}
    <h1><a href="{% url forum_index %}">Форум</a>: {{ thread.title }}</h1>

    <table class="b-thread">
        {% for comment in comments %}
            <tr>
                <td class="b-thread-user">{{ comment.author.username }}<br>
                    <div class="date">{{ comment.date_created|human_date }} {{ comment.date_created|human_time}}</div>
                </td>
                <td>{{ comment.content }}</td>
            </tr>
        {% endfor  %}
    </table>
    
    <hr>
    {% if user %}
        <form action="" method="POST">
            {% csrf_token %}
            Текст: {{ form.content }} &nbsp;
            <input type="submit" value="Добавить комментарий">
        </form>
    {% else %}
        <p>Если вы еще не регистрировались на сайте, заполните пожалуйста <a href="/form">анкету игрока</a>.</p>
    {% endif %}

{% endblock %}