{% extends "base.html" %}
{% load content %}

{% block content %}
<form action="" method="POST">
    <h2>Анкета</h2>

    <p>Уважаемые игроки.</p>

    <p>По требованию администрации базы и здравого смысла МГ совмещает подтверждение вашего приезда на проект и сбор ваших данных на всякий случай.</p>

    <p>Я, {{ profile.name }}, приеду на игру<br>

    {{ form.errors }} <br>

    Паспорт серия {{ form.passport_serial }} № {{ form.passport_number }}<br>
    Полис {{ form.social_number }} (7 цифр)<br>

    С <a href="/selen/" target="_blank">правилами поведения на базе</a> ознакомлен и обязуюсь их соблюдать: {{ form.agreement }}<br>

    <input type="submit" value="Сохранить">

</form>
{% endblock %}