{% load content %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <title>{% block title %}Титаник 2012{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <link rel="stylesheet" href="{% MEDIA_URL %}main.css?5"/>

    <script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js" charset="utf-8"></script>

    {% block head %}{% endblock %}
</head>
<body>

<div class="b-top"><img src="{% MEDIA_URL %}i/top.png" alt="Титаник 2012" usemap="#Navigation" /></div>
<map name="Navigation">
  <area coords="0,0,603,119" href="/" alt="На главную">
  <area coords="33,120,100,180" href="/info/" alt="Информация">
  <area coords="107,120,176,180" href="/rules/" alt="Правила игры">
  <area coords="190,120,250,180" href="/roles" alt="Список ролей">
  <area coords="265,120,330,180" href="/form" alt="Форма заявки">
</map>

{% block page %}
	<div class="b-table-container">
	<table class="main-table" cellspacing="0">
	<tr>
	    <td class="b-left-column">
            <a href="{% url newspaper 5 %}"><img class="img_link" src="{% MEDIA_URL %}i/reports.png" alt="Титаник 2012" /></a>
            <a href="{% url newspaper 1 %}"><img class="img_link" src="{% MEDIA_URL %}i/times.png" alt="Титаник 2012" /></a><br /><br />
	        <a href="{% url newspaper 2 %}"><img class="img_link" src="{% MEDIA_URL %}i/economist.png" alt="Титаник 2012" /></a><br /><br />
	        <a href="{% url newspaper 3 %}"><img class="img_link" src="{% MEDIA_URL %}i/guardian.png" alt="Титаник 2012" /></a><br /><br />
	        <a href="{% url newspaper 4 %}"><img class="img_link" src="{% MEDIA_URL %}i/newyorkpost.png" alt="Титаник 2012" /></a>
        </td>
	    <td class="l-gap"></td>
	    <td class="b-content">{% block content %}{% endblock %}</td>

        {% block right_column %}
            <td class="l-gap"></td>
            <td class="b-right-column">
                {% if user %}
                    Привет, {{ user.username }}
                    <br><a href="{% url messages_inbox %}">
                       {% if messages_inbox_count %}Новых сообщений: {{ messages_inbox_count }}
                       {% else %}личная почта
                       {% endif %}</a>

                    {% if is_superuser %}
                       <div><a href="/reports/">Отчеты</a></div>
                    {% endif %}

                    <br><a href="{% url logout %}">Выйти</a>

                    <br /><br />
                {% else %}
                    <a href="{% url login %}" title="Войти"><img class="img_link" src="{% MEDIA_URL %}i/login.jpg" alt="Титаник 2012" /></a>
                {% endif %}

                <a href="/links/" title="Ссылки"><img class="img_link" src="{% MEDIA_URL %}i/links.jpg" alt="Титаник 2012" /></a>
                <a href="/news" title="Новости"><img class="img_link" src="{% MEDIA_URL %}i/news.jpg" alt="Титаник 2012" /></a>
                {% last_news %}
                <a href="/forum/" title="Форум"><img src="{% MEDIA_URL %}i/forum.jpg" alt="Титаник 2012" /></a><br /><br />
            </td>
        {% endblock %}
	</tr>
	</table>
	</div>
{% endblock page %}

{% if not is_devel %}
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter6063916 = new Ya.Metrika(6063916);
             yaCounter6063916.clickmap(true);
             yaCounter6063916.trackLinks(true);

        } catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/6063916" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>